@model IEnumerable<WebApplication2MVC.Models.EmployeeModel>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.empID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empDOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empDept)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empTec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empLoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empSalary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.empID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empDOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empDept)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empTec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empLoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empSalary)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.empID }) |
                
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
